body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  // background-color: #000000;
  background: transparent;
  color: #000000;
  font-family: Arial;
}

#app {
  background-image: url(/assets/fond.png);
  background-position-x: center;
  background-position-y: -220px;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1080px;
  overflow: hidden;
  width: 1920px;
}

.hidden {
  display: none;
}

.fade-enter-active,
.fade-leave-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all .5s;
}

.fade-enter-from {
  opacity: 0;
  transform: translate(0, 110px);
}

.fade-leave-to {
  opacity: 0;
}

.revfade-enter-active,
.revfade-leave-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all .5s;
}

.revfade-enter-from,
.revfade-leave-to {
  opacity: 0;
  transform: translate(0, -50px);
}

header {
  display: flex;
  font-size: 32px;
  height: 40px;
  justify-content: end;
  padding: 20px 20px 0;

  & > div {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 10px;
    text-align: center;
    margin-left: 20px;

    // Fix transitions
    &.revfade-leave-to {
      position: absolute;
      right: 140px;
    }

    &.clock {
      padding: 5px 0;
      width: 100px;
    }
  }
}

main {
  display: flex;
  height: 760px;
  margin: 20px;

  aside {
    background-color: rgba(255, 255, 255, 0.7);
    margin-right: 20px;
    width: 340px;

    iframe {
      border: none;
      height: 760px;
      width: 100%;
    }
  }

  article {
    background-color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
    width: 1520px;

    // Fix transitions
    .fade-leave-active {
      position: absolute;
      right: 20px;
      width: 1480px;
    }

    .logobg {
      align-items: center;
      display: flex;
      height: 760px;
      justify-content: center;

      // Fix transitions
      &.fade-leave-active {
        right: 40px;
      }
      
      img {
        opacity: 0.25;
        width: 700px;
      }
    }

    .resultats {
      margin: 20px;

      .gagnants {
        display: flex;
        justify-content: space-between;

        .candidat {
          width: 700px;

          .top {
            align-items: center;
            display: flex;
            justify-content: space-between;

            .pic {
              background-repeat: no-repeat;
              background-size: cover;
              border-left: 10px solid;
              height: 240px;
              margin-right: 10px;
              width: 240px;
            }

            .pourcentage {
              font-size: 100px;
              font-weight: bold;
            }
          }

          .details {
            margin-top: 5px;

            .nom {
              font-size: 50px;
              font-weight: bold;
            }

            .parti {
              font-size: 30px;
            }
          }
        }
      }

      .reste {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .candidat {
          align-items: center;
          display: flex;
          height: 60px;
          margin-top: 20px;
          width: 700px;

          .pic {
            border-left: 10px solid;
            height: 60px;
            margin-right: 5px;
            width: 0;
          }

          .details {
            flex-grow: 1;
            
            .nom {
              font-size: 25px;
              font-weight: bold;
            }

            .parti {
              font-size: 20px;
            }
          }

          .pourcentage {
            font-size: 35px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

footer {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  height: 220px;
  width: 1920px;

  .logo {
    width: 380px;

    img {
      height: 150px;
      padding: 35px 0 0 30px;
    }
  }

  .banner{
    flex-grow: 1;
    padding: 35px 40px 0 20px;
    width: 1480px;

    &.title {
      &.center {
        text-align: center;

        h1 {
          margin-bottom: 32px;
        }
      }

      h1 {
        font-size: 65px;
        font-weight: bold;
        line-height: 75px;
        margin-top: 15px;
      }

      h2 {
        font-size: 40px;
        line-height: 40px;
        margin-top: 5px;
      }
    }

    &.abstention {
      text-align: center;

      .affichage {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: 22px;

        .texte {
          font-size: 50px;
          font-weight: bold;
          line-height: 65px;
          margin-right: 30px;
          margin-top: 15px;
        }
  
        .pourcentage {
          font-size: 100px;
          line-height: 100px;
        }
      }
    }

    &.resultats {
      .candidats {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 95px;
        margin-bottom: 25px;
        overflow: hidden;

        .candidat {
          align-items: center;
          display: flex;
          width: 700px;

          .pic {
            background-repeat: no-repeat;
            background-size: cover;
            border-left: 10px solid;
            height: 95px;
            margin-right: 10px;
            width: 95px;
          }

          .details {
            flex-grow: 1;
            
            .nom {
              font-size: 35px;
              font-weight: bold;
            }

            .parti {
              font-size: 25px;
            }
          }

          .pourcentage {
            font-size: 40px;
            font-weight: bold;
          }
        }
      }
    }

    .estimation {
      align-items: flex-end;
      display: flex;
      justify-content: space-between;

      .heure {
        font-size: 35px;
      }

      .source {
        font-size: 25px;
        max-width: 850px;
        text-align: right;
      }
    }
  }
}
