body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: transparent;
  color: #000000;
  font-family: Arial;
}

#app {
  background-image: url(/assets/fond.png);
  background-position-x: center;
  background-position-y: -220px;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1080px;
  overflow: hidden;
  width: 1920px;
}

.hidden {
  display: none;
}

.fade-enter-active,
.fade-leave-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 0.5s;
}

.fade-enter-from {
  opacity: 0;
  transform: translate(0, 110px);
}

.fade-leave-to {
  opacity: 0;
}

.revfade-enter-active,
.revfade-leave-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 0.5s;
}

.revfade-enter-from,
.revfade-leave-to {
  opacity: 0;
  transform: translate(0, -50px);
}

header {
  display: flex;
  font-size: 32px;
  height: 40px;
  justify-content: end;
  padding: 20px 20px 0;
}
header > div {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  text-align: center;
  margin-left: 20px;
}
header > div.revfade-leave-to {
  position: absolute;
  right: 140px;
}
header > div.clock {
  padding: 5px 0;
  width: 100px;
}

main {
  display: flex;
  height: 760px;
  margin: 20px;
}
main aside {
  background-color: rgba(255, 255, 255, 0.7);
  margin-right: 20px;
  width: 340px;
}
main aside iframe {
  border: none;
  height: 760px;
  width: 100%;
}
main article {
  background-color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  width: 1520px;
}
main article .fade-leave-active {
  position: absolute;
  right: 20px;
  width: 1480px;
}
main article .logobg {
  align-items: center;
  display: flex;
  height: 760px;
  justify-content: center;
}
main article .logobg.fade-leave-active {
  right: 40px;
}
main article .logobg img {
  opacity: 0.25;
  width: 700px;
}
main article .resultats {
  margin: 20px;
}
main article .resultats .gagnants {
  display: flex;
  justify-content: space-between;
}
main article .resultats .gagnants .candidat {
  width: 700px;
}
main article .resultats .gagnants .candidat .top {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
main article .resultats .gagnants .candidat .top .pic {
  background-repeat: no-repeat;
  background-size: cover;
  border-left: 10px solid;
  height: 240px;
  margin-right: 10px;
  width: 240px;
}
main article .resultats .gagnants .candidat .top .pourcentage {
  font-size: 100px;
  font-weight: bold;
}
main article .resultats .gagnants .candidat .details {
  margin-top: 5px;
}
main article .resultats .gagnants .candidat .details .nom {
  font-size: 50px;
  font-weight: bold;
}
main article .resultats .gagnants .candidat .details .parti {
  font-size: 30px;
}
main article .resultats .reste {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main article .resultats .reste .candidat {
  align-items: center;
  display: flex;
  height: 60px;
  margin-top: 20px;
  width: 700px;
}
main article .resultats .reste .candidat .pic {
  border-left: 10px solid;
  height: 60px;
  margin-right: 5px;
  width: 0;
}
main article .resultats .reste .candidat .details {
  flex-grow: 1;
}
main article .resultats .reste .candidat .details .nom {
  font-size: 25px;
  font-weight: bold;
}
main article .resultats .reste .candidat .details .parti {
  font-size: 20px;
}
main article .resultats .reste .candidat .pourcentage {
  font-size: 35px;
  font-weight: bold;
}

footer {
  background-color: rgb(255, 255, 255);
  display: flex;
  height: 220px;
  width: 1920px;
}
footer .logo {
  width: 380px;
}
footer .logo img {
  height: 150px;
  padding: 35px 0 0 30px;
}
footer .banner {
  flex-grow: 1;
  padding: 35px 40px 0 20px;
  width: 1480px;
}
footer .banner.title.center {
  text-align: center;
}
footer .banner.title.center h1 {
  margin-bottom: 32px;
}
footer .banner.title h1 {
  font-size: 65px;
  font-weight: bold;
  line-height: 75px;
  margin-top: 15px;
}
footer .banner.title h2 {
  font-size: 40px;
  line-height: 40px;
  margin-top: 5px;
}
footer .banner.abstention {
  text-align: center;
}
footer .banner.abstention .affichage {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 22px;
}
footer .banner.abstention .affichage .texte {
  font-size: 50px;
  font-weight: bold;
  line-height: 65px;
  margin-right: 30px;
  margin-top: 15px;
}
footer .banner.abstention .affichage .pourcentage {
  font-size: 100px;
  line-height: 100px;
}
footer .banner.resultats .candidats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 95px;
  margin-bottom: 25px;
  overflow: hidden;
}
footer .banner.resultats .candidats .candidat {
  align-items: center;
  display: flex;
  width: 700px;
}
footer .banner.resultats .candidats .candidat .pic {
  background-repeat: no-repeat;
  background-size: cover;
  border-left: 10px solid;
  height: 95px;
  margin-right: 10px;
  width: 95px;
}
footer .banner.resultats .candidats .candidat .details {
  flex-grow: 1;
}
footer .banner.resultats .candidats .candidat .details .nom {
  font-size: 35px;
  font-weight: bold;
}
footer .banner.resultats .candidats .candidat .details .parti {
  font-size: 25px;
}
footer .banner.resultats .candidats .candidat .pourcentage {
  font-size: 40px;
  font-weight: bold;
}
footer .banner .estimation {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}
footer .banner .estimation .heure {
  font-size: 35px;
}
footer .banner .estimation .source {
  font-size: 25px;
  max-width: 850px;
  text-align: right;
}

/*# sourceMappingURL=styles.css.map */
